<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <img  class="logodeku" src="../assets/blog/deku.jpg" width="80px" alt="">
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>